!Указание версии FRR
frr version 8.1
frr defaults traditional
!Указываем имя машины
hostname {{ hostname1 }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
!Добавляем информацию об интерфейсе eth1
interface {{ name_int1_1 }}
!Указываем имя интерфейса
description {{ description1_1 }}
!Указываем ip-aдрес и маску (эту информацию мы получили в прошлом шаге)
ip address {{ ip_addr1_1 }}
!Указываем параметр игнорирования MTU
ip ospf mtu-ignore
!Если потребуется, можно указать «стоимость» интерфейса
ip ospf cost 1000
!Указываем параметры hello-интервала для OSPF пакетов
ip ospf hello-interval 10
!Указываем параметры dead-интервала для OSPF пакетов
!Должно быть кратно предыдущему значению
ip ospf dead-interval 30
!
interface {{name_int1_2}}
description {{description1_2}}
ip address {{ip_addr1_2}}
ip ospf mtu-ignore
!ip ospf cost 45
ip ospf hello-interval 10
ip ospf dead-interval 30
interface {{name_int1_3}}
description {{description1_3}}
ip address {{ip_addr1_3}}
ip ospf mtu-ignore
!ip ospf cost 45
ip ospf hello-interval 10
ip ospf dead-interval 30
!
!Начало настройки OSPF
router ospf
!Указываем router-id
router-id {{id_router1}}
!Указываем сети, которые хотим анонсировать соседним роутерам
network {{network1_1}}
network {{network1_2}}
network {{network1_3}}
!Указываем адреса соседних роутеров
neighbor {{neighbor1_1}}
neighbor {{neighbor1_2}}
!Указываем адрес log-файла
log file /var/log/frr/frr.log
default-information originate always